<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/main.css" type="text/css">
</head>
<body>
    <div class="main-container">
        <div class="container-1 card">
            <div class="left">
                <div class="title">Earth Patel</div>
                <div>helloearth@gmail.com</div>
                <div>123456789</div>
                <div>B/104 The RiverSide, Karai, Nana Chiloda, Ahmedabad - 382330</div>
            </div>
            <div class="right">
                <img src="/profile.jpg">
            </div>
        </div>
        <div class="container-2 card">
            <div class="form-title">Description</div>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam error maiores quam veritatis magni reprehenderit sequi eaque saepe! Nisi, iusto. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus, magnam. Unde quia commodi obcaecati incidunt minus quo molestias harum consequatur!</div>
            <ul>
                <li>Hello 1</li>
                <li>Hello 2</li>
                <li>Hello 3</li>
            </ul>
        </div>
        <div class="container-3 card">
            <div class="form-title">Form Details</div>
            <form>

                <input type="text" placeholder="Your Name..." class="input-text">
                <input type="email" placeholder="Email..." class="input-text">
                <input type="password" placeholder="Password..." class="input-text">

                <div class="form-radio">
                    <div class="gender-title">Gender :</div>
                    <input type="radio" value="male" name="gender">
                    <label>Male</label>
                    <input type="radio" value="female" name="gender">
                    <label>Female</label>
                </div>

                <div class="form-button">
                    <button type="submit" class="submit">Submit</button>
                    <button type="reset" class="reset">Reset</button>
                    <button>Cancel</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>>